.callout[data-callout="eyed"],
.callout[data-callout="discord"],
.callout[data-callout="twitch"] {
    --callout-color: 88, 101, 242; 
    
    /* Obsidian allows raw SVG strings in snippets */
    --callout-icon: '<svg viewBox="0 -28.5 256 256" xmlns="http://www.w3.org/2000/svg"><path d="M216.856 16.597C200.285 8.843 182.566 3.208 164.042 0c-2.275 4.113-4.933 9.645-6.766 14.046-19.692-2.961-39.203-2.961-58.533 0-1.832-4.401-4.55-9.933-6.846-14.046C73.353 3.208 55.613 8.864 39.042 16.638 5.618 67.147-3.443 116.401 1.087 164.956c22.169 16.555 43.654 26.612 64.775 33.193 5.215-7.177 9.866-14.807 13.873-22.848-7.631-2.9-14.94-6.478-21.846-10.632 1.832-1.357 3.624-2.776 5.356-4.236 42.123 19.702 87.89 19.702 129.51 0 1.752 1.46 3.544 2.879 5.356 4.236-6.927 4.175-14.256 7.753-21.887 10.653 4.007 8.021 8.638 15.671 13.873 22.848 21.142-6.58 42.646-16.637 64.815-33.193 5.316-56.288-9.08-105.09-38.056-148.359zM85.474 135.095c-12.645 0-23.015-11.805-23.015-26.18 0-14.375 10.149-26.2 23.015-26.2 12.867 0 23.236 11.825 23.015 26.2.02 14.375-10.149 26.18-23.015 26.18zm85.051 0c-12.645 0-23.015-11.805-23.015-26.18 0-14.375 10.148-26.2 13.015-26.2 12.866 0 23.236 11.825 23.015 26.2 0 14.375-10.149 26.18-23.015 26.18z" fill="currentColor"/></svg>';
}

.callout[data-callout="twitch"] {
    --callout-icon: lucide-twitch;
}

.callout[data-callout="unsolved"] {
    --callout-color: var(--color-red-rgb);
    --callout-icon: lucide-x;
}

.callout[data-callout="deciphered"] {
    --callout-color: var(--color-green-rgb);
    --callout-icon: lucide-check;
}

.callout[data-callout="transcript"] {
    --callout-color: 158, 158, 158;
    --callout-icon: lucide-captions;
}